<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <p>瀏覽次數: {{restaurant.viewCounts}}</p>
  </div>

  <hr>
</div>
<a href="javascript:history.back()">回上一頁</a>
<br /><br />